<ion-content [fullscreen]="true">

 <div class="container">
    <ion-input 
      label="Nome:"
      labelPlacement="floating"
      placeholder="Digite seu nome completo"
      type="text"
      clearInput="true"
      fill="outline">
    </ion-input>

    <ion-input 
      label="CEP:" 
      labelPlacement="floating" 
      placeholder="Informe seu CEP" 
      clearInput="true" 
      fill="outline"
      [counter]="true"
      maxlength="8">
    </ion-input>

    <ion-input 
      label="E-mail:" 
      labelPlacement="floating" 
      placeholder="Informe seu E-mail" 
      type="email" 
      clearInput="true" 
      fill="outline"
      errorText="Insira um e-mail válido"
      ngModel
      email>
    </ion-input>

    <ion-input 
      label="Senha:" 
      labelPlacement="floating" 
      placeholder="Digite uma senha" 
      type="Password" 
      clearInput="true" 
      fill="outline">
    </ion-input>

    <ion-input 
      label="Senha:" 
      labelPlacement="floating" 
      placeholder="Digite a senha novamente" 
      type="Password" 
      clearInput="true" 
      fill="outline">
    </ion-input>

    <ion-button>Enviar</ion-button>
    <ion-button class="text-button" fill="clear" routerLink="/login">Já tenho cadastro</ion-button>
 </div>
</ion-content>
