<ion-card>
  <ion-card-header>
    <div>
      <ion-thumbnail slot="start" class="img">
        <img alt="Silhouette of mountains" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" />
      </ion-thumbnail>
    </div>
    <div>
      <ion-card-title class="description">Céu limpo</ion-card-title>
    </div>
    <div class="temperature">
      <h1>16°C</h1>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <div>
      <ion-thumbnail slot="start" class="img">
        <img alt="Silhouette of mountains" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" />
      </ion-thumbnail>
    </div>
    <div class="description">
      <ion-card-title class="description">Céu limpo</ion-card-title>
    </div>
    <div class="temperature">
      <h1>16°C</h1>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <div>
      <ion-thumbnail slot="start" class="img">
        <img alt="Silhouette of mountains" src="https://ssl.gstatic.com/onebox/weather/64/rain_s_cloudy.png" />
      </ion-thumbnail>
    </div>
    <div class="description">
      <ion-card-title class="description">Chuva</ion-card-title>
    </div>
    <div class="temperature">
      <h1>16°C</h1>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <div>
      <ion-thumbnail slot="start" class="img">
        <img alt="Silhouette of mountains" src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png" />
      </ion-thumbnail>
    </div>
    <div class="description">
      <ion-card-title class="description">Parcialmente nublado</ion-card-title>
    </div>
    <div class="temperature">
      <h1>16°C</h1>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <div>
      <ion-thumbnail slot="start" class="img">
        <img alt="Silhouette of mountains" src="https://ssl.gstatic.com/onebox/weather/64/rain_s_cloudy.png" />
      </ion-thumbnail>
    </div>
    <div class="description">
      <ion-card-title class="description">Chuva</ion-card-title>
    </div>
    <div class="temperature">
      <h1>16°C</h1>
    </div>
  </ion-card-header>
</ion-card>