<div class="container">
  <ion-img class="logo" src="../assets/nuvem-de-sol.png"></ion-img>
  <ion-title>Open Wheather</ion-title>
    <ion-input class="input" fill="outline" placeholder="E-mail">
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-input>

    <ion-input fill="outline" placeholder="Password">
      <ion-icon name="key" slot="start"></ion-icon>
    </ion-input>

    <ion-button>Entrar</ion-button>

  <ion-button class="text-button" fill="clear" routerLink="/cadastro">cadastrar</ion-button>
  
  </div>